<li> 
  <%= link_to t("Subscription Billing"),:controller=>'admin/subscription_billing',:action=>'index' %>

  <%#= link_to t("Subscription Billing"),admin_subscription_billing_url %>

 <%#= link_to t("Subscription Billing") %>
 <%#= tab(:promoted_items) %>
</li>
